<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper xmlns="http://mybatis.org/schema/mybatis-mapper" namespace="com.tzh.user.mapper.UserMapper">

    <insert id="insertUser" parameterType="com.tzh.user.entity.User">
        insert into user (nickname,account_id,phone,gender,remark,create_time,update_time)
        VALUES(#{nickName},#{accountId},#{phone},#{gender},#{remake},sysdate,sysdate)
    </insert>
</mapper>