<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tzh.user.mapper.UserMapper">

    <insert id="insertUser" parameterType="com.tzh.user.entity.User">
        insert into user (nickname,account_id,phone,gender,remark,create_time,update_time,password)
        VALUES(#{nickName},#{accountId},#{phone},#{gender},#{remark},#{createTime},#{updateTime},#{password})
    </insert>
    <delete id="deleteUserById" parameterType="int">
        delete from user where id=#{userId}
    </delete>

    <select id="selectUserById" resultType="com.tzh.user.entity.User">
        select id,account_id,phone,password,gender,remark,
               date_format(create_time,'%Y-%m-%d %H:%i:%s') createTime,
               date_format(update_time,'%Y-%m-%d %H:%i:%s') updateTime
        from user where id=#{id}
    </select>

    <select id="getAllUser" resultType="com.tzh.user.entity.User">
        select * from user
    </select>
    <select id="checkUser" resultType="java.lang.Integer">
        select count(1) from user where account_id=#{accountId} and password=#{password}
    </select>

    <update id="updateUserInfoById" parameterType="com.tzh.user.entity.User">
        UPDATE user SET nickname=#{nickName},phone=#{phone},gender=#{gender},remark=#{remark},password=#{password},update_time=#{updateTime}
        WHERE id=#{id};
    </update>
</mapper>